body {
  font-family: Arial, sans-serif;
}

h1 {
  text-align: center;
}

h2 {
    text-align: center;
}

#add-form {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 10px;
}

#book-list {
  list-style: none;
  padding: 0;
}

#title-input,
#author-input {
  margin-top: 20px;
  width: 20%;
  padding: 10px 15px;
}

.book-item {
  margin-bottom: 10px;
  padding: 10px;
  background-color: #f2f2f2;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.book-item span {
  margin-right: 10px;
}

.remove-btn {
  background-color: #ff8080;
  color: #fff;
  border: none;
  padding: 5px 10px;
  border-radius: 3px;
  cursor: pointer;
}

.add-btn {
  width: 15%;
  padding: 15px 20px;
  margin-top: 20px;
  background-color: #A8F158;
  border: none;
  cursor: pointer;
  box-shadow: 0px 0px 10px 1px;
  font-size: 20px;
  transition: 0.3s;
}
.add-btn :hover {
  opacity: 0.6;
}

.add-btn:active {
    transform: scale(0.9);
    box-shadow: 0px 0px 6px 1px;
}
